<h1>'Your bookings'</h1>

<% @racket.bookings.each do |booking| %>
  <div>
    <h2><b><%= booking.racket.name %></b></h2>
    <p><%= booking.brand %></p>
    <p><%= booking.racket.location %></p>
    <p><%= booking.racket.description %></p>
    <p><%= link_to 'Delete Booking', destroy_booking_path %>
  </div>
<% end %>
