<h1> Dashboard </h1>

<h3>Welcome to your profile <%= @user.first_name%></h3>

<h4> Your Rackets </h4>
<%= link_to "Add a Racket", new_racket_path %>
<ul>
  <% @user.rackets.each do |racket| %>
    <li> <%=link_to racket.name, racket_path(racket)%></li>
  <% end %>
</ul>

<h4> Your Bookings </h4>

<div class="bookings">
  <% @user.bookings.each do |booking| %>
    <div class="card">
      <div class="information">
        <h5> <%=booking.racket.name%></h5>
        <p> Pick up date: <%= booking.start_date %> <br> Drop off date: <%=booking.end_date%></p>
      </div>
      <ul class="links">
        <li><%= link_to "Edit", edit_booking_path(booking) %></li>
        <li><%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %></li>
      </ul>
    </div>
  <% end %>
</div>
