<div class="offset-md-3 col-md-6">
  <div class="offset-md-2">
    <h1 class="large-h1-white">Edit your racket</h1>
  </div>
  <div class="offset-md-2 form">
    <%= simple_form_for @racket do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :description %>
      <%= f.input :brand %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn-primary-v-primary-af" %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', rackets_path %>
