<div class="offset-md-3 col-md-6">
  <div class="offset-md-2">
    <h1 class="large-h1-white">Add your racket</h1>
  </div>
  <div class="offset-md-2 form">
    <%= simple_form_for @racket do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :description %>
      <%= f.input :brand %>
      <%= f.input :photo, as: :file %>
      <% unless @racket.new_record? %>
        <%= f.input :name %>
      <% end %>
      <%= f.submit class: "btn btn-outline-success"%>
    <% end %>
  </div>
</div>
