<div class="position-relative">
  <div class="card-category card-large">
    <h1><%= @racket.name %></h1>
  </div>
</div>
<div class="container mb-5">
  <div class="row my-2">
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%= image_tag @racket.image_url, alt: @racket.name %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= @racket.name %>
            <small class="text-muted"><%= @racket.description %></small>
          </div>
        </div>
      </div>
  </div>
  <%= link_to "Book Racket", new_racket_booking_path(@racket) %>
  <%= link_to "Back to Home", rackets_path %>
</div>
