<div class="container">
  <h1 class="text-center m-3" style="color: #F8F9FA"><%= @racket.name %></h1>
  <div class="show-card" style="background-color: #F8F9FA;">
    <div class="racket-left p-3 ">
      <div class="info w-60">
        <h3><i class="fa fa-map-pin"></i> <%= @racket.location %></h3>
        <br>
        <h5><%= @racket.brand.capitalize %></h5>
        <p><%= @racket.description %></p>
      </div>
      <div class="bottom">
        <% if @racket.user == current_user %>
          <%= link_to "Edit Racket", edit_racket_path, class: "btn btn-outline-success", type: "button" %>
        <% else %>
          <%= link_to "Book Racket", new_racket_booking_path(@racket), class: "btn btn-outline-success", type: "button" %>
        <% end %>
        <div class="links">
          <%= link_to "Back", rackets_path %>
        </div> 
      </div>
    </div>
    <% if @racket.photo.attached?%>
      <%= cl_image_tag @racket.photo.key, alt: @racket.name, class: 'racket-img' %>
    <% else %>
      <img src="https://images-na.ssl-images-amazon.com/images/I/51cxohHoU%2BL._AC_SL1010_.jpg" class="card-racket-img"/>
    <% end %>
  </div>
</div>
