<div class="offset-sm-3 col-sm-6">
  <div class="position-relative">
    <div class="offset-sm-3 col-sm-6">
      <h1 class="large-h1-white"><%= @racket.name %></h1>
    </div>
  </div>
  <div class="container my-3 p-2 bg-white show-card">
    <div class="row my-2 align-items-stretch">
      <div class="col-6 col-sm-6" data-aos="zoom-in">
        <div class="bg-white rounded">
          <div class="bg-light m-3 p-3 rounded-bottom w-100">
           <h2> <%= @racket.name %></h2>
            <br>
            <br>
            <p><%= @racket.description %></p>
          </div>
          <div class="btn-primary-v-primary-af m-3 p-3 w-100">
            <%= link_to "Book Racket", new_racket_booking_path(@racket), class: "link" %>
          </div>
        </div>
      </div>
      <div class="col-6 rounded-bottom flex-column">
        <%= image_tag @racket.image_url, alt: @racket.name, class: 'racket-img' %>
      </div>
    </div>
</div>
  <% if @racket.user == current_user %>
    <%= link_to "Edit Racket", edit_racket_path%>
    <% end %>
    <br>
  <%= link_to "Back to Rackets", rackets_path %>

</div>
